h1, h2, h3, h4, h5, h6, p, span, article {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 350;
    line-height: 110%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.thin {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
}

.bold {
    font-size: 24px;
    font-weight: 550;
}

.small_heading {
    font-size: 28px;
    font-weight: 600;
}

.heading {
    font-size: 40px;
    font-weight: 600;
}

.huge_heading {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 800;
}

.table_regular {
    font-weight: 550;
    color: #aaa;
}

.table_white {
    font-weight: 550;
}

.table_small {
    font-size: 16px;
    color: #7f7f7f;
}

.table_subtext {
    color: #aaa;
    font-size: 12px;
}