html {
    height: 100%;
}

body {
    padding: 0;
    margin:0;
    background-color: black;
    border: #fff solid 1px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    border: #fff solid 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
}

.header_block {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
}

.header_text {
    color: #fff;
    font-size: 15px;
}

p {
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tanks_text {
    font-size: 24px;
    font-weight: bold;
}

.wiki_text {
    font-size: 48px;
    font-weight: bold;
}

.header_text {
    font-size: 48px;
    font-weight: normal;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    flex-wrap: wrap;
    gap: 48px;
}

.flag-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 47px;
    width: 100%;
}

.nation_flag {
    width: 252px;
    height: 162px;
    font-size: 40px;
    padding: 0;
}

img {
    width: 250px;
    height: 120px;
    border: #fff solid 1px;
    border-radius: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}
