* {
    box-sizing: border-box;
    transition: 0.33s;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

html

body {
    padding: 0;
    margin:0;
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    align-self: center;
    position: fixed;
    max-width: 1280px;
    min-width: 540px;
    z-index: 5;
    top: 0;
}

.menu {
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(10px);
    border: #fff solid 1px;
    border-top: 0;
    border-radius: 0 0 25px 25px;
    align-items: center;
    justify-items: center;
}

.header_block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center_text {
    display: inline;
    margin: auto 0;
    justify-self: center;
}

.search {
    height: calc(25px + 25%);
    width: calc(100px + 33%);
}

@media screen and (width<1024px){
    .header {
        width: 95%;
    }

    .menu {
        height: 70px;
    }

    .main {
        margin-top: 80px;
    }
}

@media screen and (1024px <= width < 1400px){
    .header  {
        width: 85%;
    }

    .menu {
        height: 80px;
    }

    .main {
        margin-top: 100px;
    }
}

@media screen and (1400px <= width){
    .header {
        width: 70%;
    }

    .menu { 
        height: 90px;
    }
    
    .main {
        margin-top: 110px;
    }
}

p {
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 500;
    margin-block: 0;
    position: relative;
    top: -26px;
}

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    flex-wrap: wrap;
    gap: 48px;
}

.bron_idea {
    display: flex;
    justify-content: space-evenly   ;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.flags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5 1fr);
    column-gap: 50px;
}

.tank_image {
    width: 1024px;
}

.div_tank_image {
    overflow: hidden;
    display: flex;
    width: 766px;
    align-items: center;
    position: relative;

}

.nation_flag {
    padding: 0;
    margin: 0;
    text-align: center;
}

.flag_img {
    border: #fff solid 1px;
    border-radius: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.search {
    height: calc(25px + 25%);
    width: calc(100px + 33%);
}

