* {
    box-sizing: border-box;
}

.icon_text {
    display: inline;
    font-size: 0;
}

.body {
    background-color: #101010;
}

/* Шапка */
.header {
    width: 70%;
    align-self: center;
}

.menu {
    background-color: #000;
}

/* Основной контент */
.main {
    flex-wrap: nowrap;
    flex: auto;
    justify-content: start;
    gap: 0;
}

.section {
    margin-top: 35px;
    width: 70%;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: fit-content;
    padding-bottom: 35px;
}

.content {
    width: 90%;
    margin: auto;
}

.content_header {
    width: 100%;
    display: flex;
    border-bottom: #fff 1px solid;
    padding-bottom: 15px;
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 500px;
}

.table_header {
    border-bottom: #fff 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Контент с танком */
.tank_content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.tank {
    padding-bottom: 10px;
}

.tank_content_left {
    width: 50%;
    justify-content: center;
}

.tank_content_right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
    margin-right: 25px;
}

.first_row {
    display: flex;
    height: 22.5%;
}

.second_row, .third_row {
    height: 15%;
}

.first_row .column {
    justify-content: space-around;
}

.column {
    width: 46%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}


.tank_flag {
    position: absolute;
    width: 60%;
    left: 0;
    top: 0;
}

.tank_img {
    position: relative;
    width: 270%;
    z-index: 1;
    left: -33%;
}

.br_heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_small {
    height: 35%;
    margin-right: 5px;
}

.icon_big {
    height: 55%;
}

.first_row .left_column {
    width: 35%;
}

.first_row .right_column {
    width: 57%;
}

.second_row .left_column {
    width: 39%;
}

.second_row .right_column {
    width: 53%;
}

.right_column {
    border-radius: 0 15px 15px 0;
}

.left_column {
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Секция статов */
.stats {
    display: flex;
    flex-wrap: wrap;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 50%;
}

.mode_buttons, .condition_buttons, .crew_exp_buttons {
    display: flex;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
}

.buttons_container .button {
    background: none;
    border: 0;
    border-radius: 10px;
    width: 50%;
}

.buttons_container .button-active {
    background-color: #000;
    border: #fff 1px solid;
    color: #fff;
}

.buttons_container .button:active {
    background-color: #505050;
}

.buttons_container .button:hover {
    cursor: pointer;
}

.top_stats_table {
    display: flex;
    gap: auto;
    justify-content: space-between;
}

.stats_sub_section {
    width: 49%;
}

.stats_row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.stats_row-basic, .stats_row-under_heading, .stats_row-crew {
    border-bottom: rgba(255,255,255,0.5) 1px dashed;
}

.stats_row-heading {
    margin-bottom: 0;
}

.stats_row-under_heading span {
    margin-left: 20px;
}

.stats_row-crew {
    justify-content: space-around;
}

.stats_row-crew span {
    width: -webkit-fill-available;
    text-align: center;
}

.korobka_main_weaponry, .korobka_second_weaponry, .korobka_ammo {
    border-radius: 15px;
    width: 100%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    flex-direction: column;
}

.korobka_stab {
    border-radius: 15px;
    width: 95%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin-top: 15px;
    padding: 13px;
    box-sizing: border-box;
}

.top_stats_weaponry, .ammo {
    display: flex;
    margin-top: 20px;
    gap: auto;
    justify-content: space-between;
    width: 95%;
}

.stab_icon {
    color: #fff;
    width: 48px;
}

.second_weapon {
    margin-top: 40px; 
    padding-bottom: 20px;  
}

.korobka_choose_ammo {
    border-radius: 5px;
    width: 15%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.stats_row-ammo {
    border-bottom: rgba(255,255,255,0.5) 1px dashed;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.stats_row-ammo_penetration{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
}


.ammo_choose_colomn {
    display: flex;
    margin-top: 20px;
    gap: auto;
    justify-content: space-between;
    width: 95%;
}

.stats_row-ammo_choose {
    display: flex;
    align-items: baseline;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    flex-direction: row;
}

.korobka_stab {
    border-radius: 15px;
    width: 95%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin-top: 15px;
    padding: 13px;
    box-sizing: border-box;
}
