h1, h2, h3, h4, h5, h6, p, span, article {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 350;
    line-height: 110%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.thin {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
}

.bold {
    font-size: 24px;
    font-weight: 550;
}

.small_heading {
    font-size: 32px;
    font-weight: 600;
}

.heading {
    font-size: 40px;
    font-weight: 600;
}

.huge_heading {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 800;
}

.icon_text {
    display: inline;
    font-size: 0;
}

.body {
    background-color: #101010;
}

/* Шапка */
.header {
    width: 60%;
    align-self: center;
}

.menu {
    background-color: #000;
}

/* Основной контент */
.main {
    flex-wrap: nowrap;
    flex: auto;
    justify-content: start;
    gap: 0;
}

.section {
    margin-top: 35px;
    width: 60%;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: fit-content;
    padding-bottom: 35px;
}

.content {
    width: 80%;
    margin: auto;
}

/* Контент с танком */
.heading_content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.heading_content_left {
    width: 50%;
    justify-content: center;
}

.heading_content_right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
    margin-right: 25px;
}

.first_row {
    display: flex;
    height: 22.5%;
}

.second_row, .third_row {
    height: 15%;
}

.first_row .column {
    justify-content: space-around;
}

.column {
    width: 41%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.first_row .left_column {
    width: 30%;
}

.first_row .right_column {
    width: 52%;
}

.second_row .left_column {
    width: 33%;
}

.second_row .right_column {
    width: 49%;
}

.right_column {
    border-radius: 0 15px 15px 0;
}

.left_column {
    border-radius: 15px 0 0 15px;
}

.tank_flag {
    position: absolute;
    width: 60%;
    left: 0;
    top: 0;
}

.tank_img {
    position: relative;
    width: 270%;
    z-index: 1;
    left: -33%;
}

.rating {
    display: flex;
    flex-direction: column;
}

.icon_small {
    height: 35%;
    margin-right: 5px;
}

.icon_big {
    height: 55%;
}

/* Секция статов */
.content_header {
    width: 100%;
    display: flex;
    border-bottom: #fff 1px solid;
    padding-bottom: 15px;
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 500px;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 50%;
}

.mode_buttons, .condition_buttons {
    display: flex;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    overflow: hidden;
    width: 50%;
}

.buttons_container button {
    background: none;
    border: 0;
    border-radius: 50px;
    width: 50%;
}

.buttons_container button:active {
    background-color: #000;
    border: #fff 1px solid;
    color: #fff;
}