h1 {
    color: #fff;
}

.body {
    background-color: #101010;
}

.header {
    background-color: #000;
    width: 65vw;
    align-self: center;
}

.section {
    width: 50%;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: 50%;
}
.heading_content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.heading_content_left {
    width: 50%;
}

.heading_content_right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

h1 {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

.first_row {
    display: flex;
}

.column {
    width: 50%;
    border: 1px solid #fff;
    display: flex;
}

.tank_flag {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
}

.heading_content_left .heading_content_right{
    width: 50%;
}
.tank_img {
    position: relative;
    height: 100%;
    z-index: 1;
    /*left: -100px;*/
}