* {
    box-sizing: border-box;
    transition: 0.33s;
}

.icon_text {
    display: inline;
    font-size: 0;
}

.body {
    background-color: #161616;
}

/* Шапка */
.header {
    width: 70%;
    align-self: center;
    position: fixed;
    max-width: 1280px;
    min-width: 540px;
    z-index: 5;
}

.menu {
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    background-color: #000;
    width: unset;
    align-items: center;
    justify-items: center;
}

.center_text {
    display: inline;
    margin: auto 0;
    justify-self: center;
}

.search {
    height: calc(25px + 25%);
    width: calc(100px + 33%);
}

/* Основной контент */
.main {
    margin: 0 auto;
    margin-top: 100px;
    flex-wrap: nowrap;
    flex: auto;
    justify-content: start;
    max-width: 1280px;
    min-width: 540px;
    gap: 0;
}

.section {
    margin-top: 35px;
    width: 100%;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: fit-content;
    padding-bottom: 35px;
    transition: 0.5s;
}

@media screen and (width<1024px){
    .main, .header {
        width: 95%;
    }

    .menu {
        height: 70px;
    }

    .main {
        margin-top: 60px;
    }

    .menu_research {
        width: 88%;
    }
}

@media screen and (1024px <= width < 1400px){
    .main, .header {
        width: 85%;
    }

    .menu {
        height: 80px;
    }

    .main {
        margin-top: 75px;
    }

    .menu_research {
        width: 90%;
    }
}

@media screen and (1400px <= width){
    .main, .header {
        width: 70%;
    }

    .menu { 
        height: 90px;
    }

    .main {
        margin-top: 90px;
    }

    .menu_research {
        width: 90%;
    }
    
}

/* @media screen and (min-width: 2560px){
    .section, .header {
        width: 50%;
    }

    .menu {
        height: 100px;
    }

    .main {
        margin-top: 100px;
    }

    .menu_research {
        width: 85%;
    }
} */

.content {
    width: 90%;
    margin: auto;
}

.content_header {
    width: 100%;
    display: flex;
    border-bottom: #fff 1px solid;
    padding-bottom: 15px;
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 500px;
}

.table_header {
    border-bottom: #fff 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Контент с танком */
.tank_content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.tank {
    padding-bottom: 10px;
}

.tank_content_left {
    width: 50%;
    justify-content: center;
}

.tank_content_right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
    margin-right: 25px;
}

.first_row {
    display: flex;
    height: 22.5%;
}

.second_row, .third_row {
    height: 15%;
}

.first_row .column {
    justify-content: space-around;
}

.column {
    width: 46%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}


.tank_flag {
    position: absolute;
    width: 60%;
    left: 0;
    top: 0;
}

.tank_img {
    position: relative;
    width: 270%;
    z-index: 1;
    left: -33%;
}

.br_heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_small {
    height: 35%;
    margin-right: 5px;
}

.icon_big {
    height: 55%;
}

.first_row .left_column {
    width: 35%;
}

.first_row .right_column {
    width: 57%;
}

.second_row .left_column {
    width: 39%;
}

.second_row .right_column {
    width: 53%;
}

.right_column {
    border-radius: 0 15px 15px 0;
}

.left_column {
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Секция статов */
.stats {
    display: flex;
    flex-wrap: wrap;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 50%;
}

.mode_buttons, .condition_buttons, .crew_exp_buttons {
    display: flex;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
}

.button {
    background: none;
    border: 0;
    border-radius: 10px;
    width: 50%;
    transition: 0s;
}

.button-active {
    background-color: #000;
    border: #fff 1px solid;
    color: #fff;
}

.button:active {
    background-color: #505050;
}

.button:hover {
    cursor: pointer;
}

.top_stats_table {
    display: flex;
    gap: auto;
    justify-content: space-between;
}

.stats_sub_section {
    width: 49%;
}

.stats_row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.stats_row-basic, .stats_row-under_heading, .stats_row-crew {
    border-bottom: rgba(255,255,255,0.5) 1px dashed;
}

.stats_row-heading {
    margin-bottom: 0;
}

.stats_row-under_heading span {
    margin-left: 20px;
}

.stats_row-crew {
    justify-content: space-around;
}

.stats_row-crew span {
    width: -webkit-fill-available;
    text-align: center;
}

.korobka_korobka {
    display: flex;
    justify-content: space-between;
    width: 49.5%;
}

.korobka_main_weaponry, .korobka_second_weaponry, .korobka_ammo {
    border-radius: 15px;
    width: 100%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    flex-direction: column;
}

.korobka_stab {
    border-radius: 15px;
    width: 95%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin-top: 15px;
    padding: 13px;
    box-sizing: border-box;
}

.top_stats_weaponry, .ammo {
    display: flex;
    margin-top: 20px;
    gap: auto;
    justify-content: space-between;
    width: 95%;
}

.stab_icon {
    color: #fff;
    width: 48px;
}

.second_weapon {
    margin-top: 40px; 
    padding-bottom: 20px;  
}

.korobka_choose_ammo  {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
}

.korobka_choose_ammo:hover {
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #505050;
}

/* Карточка с описанием снаряда */

.shell_window {
    display: none;
    position: absolute;
    left: -0.5px;
    text-align: left;
    top: -1px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 250%;
    background-color: #161616;
    box-shadow: #000 0 0 100px 50px;
    z-index: 1;
}

.shell_header {
    background-color: #000;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.shell_info-primary {
    display: flex;
    text-align: center;
    margin: 10px 0;
    padding-right: 10px;
}

.info_box {
    background-color: #000;
    margin-left: 10px;
    width: 33%;
}

.shell_info, .shell_info-ricochet, .shell_info-penetration{
    padding: 0 10px 10px 10px;
}

.shell_info p {
    text-align: left;
    line-height: 125%;
}

#M61:focus-within .shell_window {
    display: block;
}

/* Конец карточки */

.choose_ammo_description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.choose_ammo_description span {
    text-align: center;
}

.line {
    border-bottom: rgba(255,255,255,0.5) 1px dashed;
    padding: 0;
    margin: 0;
}

.stats_row-ammo_choose {
    display: flex;
    align-items: baseline;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    flex-direction: row;
}

.korobka_ammo-machine_gun-shapka {
    border-radius: 15px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    box-sizing: border-box;
    gap: 20px
}

.korobka_ammo-machine_gun {
    border-radius: 15px;
    border: 1px solid #fff;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    box-sizing: border-box;
    width: 70%;
}

.machine_gun_ammo {
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
}

 /* Ветка исследования */
 .header_text_research {
    padding-top: 20px;
    color: #fff;
    font-size: 48px;
}

 .menu_research {
        width: 100%;
        height: 130px;
        top: -30px;
        z-index: -1;
        position: relative;
}

.technic_grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    gap: 20px;
    margin: 30px auto;
}

.technic{
    background-color: rgba(0, 64, 96, 1);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 50%;
    height: 0;
}

.main_research{
    margin-top: 230px;
    flex-wrap: nowrap;
    flex: auto;
    justify-content: start;
    gap: 0;
}

 /* конец ветки исследования */


