h1, h2, h3, h4, h5, h6, p, span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.body {
    background-color: #101010;
}

.main {
    flex-wrap: nowrap;
    flex: auto;
    justify-content: start;
}
.header {
    background-color: #000;
    width: 65vw;
    align-self: center;
}

.section {
    width: 50%;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    height: fit-content;
}
.heading_content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.heading_content_left {
    width: 50%;
}

.heading_content_right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.heading_text {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

.row {
    display: flex;
    gap: 5px;
    margin-right: 25px;
}
.first_row {
    display: flex;
}

.first_row .column {
    justify-content: space-around;
}

.column {
    width: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_column {
    border-radius: 0 15px 15px 0;
}

.left_column {
    border-radius: 15px 0 0 15px;
}

.tank_flag {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
}

.tank_img {
    position: relative;
    width: 200%;
    z-index: 1;
    /*left: -100px;*/
}

.rating {
    display: flex;
    flex-direction: column;
}

.type {
    font-size: 16px;
    color: #aaa;
}

.icon_text {
    display: inline;
    font-size: 0;
    height: 50%;
}