h1 {
    margin: 0;
    font-size: 32px;
} 
.main {
    color: white;
    margin: 0;
    padding: 0;
    justify-content: start;
    grid-template-columns: 5fr 2fr;
    gap: 0;
    width: 70%;
    margin: 0 auto;
    display: block;
}

.first_rank {

    width: 100%;
}

.types_of_technic {
    border-bottom: white solid 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    border-bottom: 1px white solid;
    border-radius: 10px;
}



.type_text {
    color: white;
    font-size: 32px;
}

.rank_text {
    margin: 5px;
}

.rank {
    border-bottom: white solid 1px;
    position: relative;
    width: 100%;
}

.tank_sell {
    width: 230px;
    height: 115px;
}

.technic_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    height: calc(100% - 28px);
    margin: 0 10px 20px;
}



/*.technic_grid_1_rank {
    grid-template-rows: repeat(3, 1fr);
}


.technic_grid_2_rank{
    grid-template-rows: repeat(2, 1fr);

}

.technic_grid_3_rank{
    grid-template-rows: repeat(3, 1fr)

}

.technic_grid_4_rank{
    grid-template-rows: repeat(3, 1fr)

}

.technic_grid_5_rank{
    grid-template-rows: repeat(2, 1fr)

}

.technic_grid_6_rank{
    grid-template-rows: repeat(3, 1fr)

}

.technic_grid_7_rank{
    grid-template-rows: repeat(2, 1fr)

}

.technic_grid_8_rank{
    grid-template-rows: repeat(2, 1fr)

}*/

.technic_image {
    width: 100%;
    object-position:right;
    z-index: 10;
}


.mini_technic_image{
    background-color: none;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 40px;
    object-position:left;
    z-index: 12;
}

.technic_technic_image{
    width:100%;
    height:100%;
    position: absolute;
    object-position:right;
    z-index: 0;
    left: 40px;
    
}

.div_technic{

    background-color: rgba(0, 64, 96, 1);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    

}

.tank_name {
    position: absolute;
    top: 5%;    /* отступ от верхнего края */
    right: 10px;  /* отступ от правого края */
    text-align: right; /* выравнивание строк текста по правому краю */
    color: white; /* Цвет текста */
    font-size: 20px;
    padding: 0;
    z-index: 2;
    margin: 0;
}

.tank_br {
    position: absolute;
    top: 85%;    /* отступ от верхнего края */
    right: 10px;  /* отступ от правого края */
    text-align: right; /* выравнивание строк текста по правому краю */
    color: white; /* Цвет текста */
    font-size: 15px;
    padding: 0%;
    z-index: 2;
    margin: 0;
}

.img{
    object-fit: scale-down;
}

.premium {
    position: absolute;
    right: -60vw;
    background-color: rgb(236, 186, 46);
    z-index: 25;
    transition: 0.25s;
    text-align: left;
    top: 100px;
    width: 70%;
    padding: 0;
    border: 0;
    outline: 1px white solid;
}

.premium:focus-within{
    transform: translateX(-59vw);
}

a {
    width: 100%;
    height: 100%;
}